<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta charset="UTF-8">
  <title>Ilves exam</title>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="./build/style.css"></link>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./build/code.js"></script>
</head>
<!-- initializing the angular module to operate inside HTML body -->
<body ng-app="ilvesExam">
  <div class="container" ng-controller="ToDoListCtrl">
    <div class="header">
      <h2>Ilves exam</h2>
    </div>
    <div class="rooms">
      <div class="room">
        <h1>Alpha</h1>
        <div class="reservations" ng-repeat="reservation in roomReservations track by $index" ng-if="reservation.room == 'alpha'">
          <p class="times">{{reservation.startTime | date: 'HH:mm' }}-{{reservation.endTime | date:'HH:mm'}}</p>
          <p class="user">Reserved by: {{ reservation.reservationBy }}</p>
          <i class="ion-trash-a" ng-click="deleteReservation(reservation)"></i>
        </div>
      </div>
      <div class="room">
        <h1>Beta</h1>
        <div class="reservations" ng-repeat="reservation in roomReservations track by $index" ng-if="reservation.room == 'beta'">
          <p class="times">{{reservation.startTime | date: 'HH:mm'}}-{{reservation.endTime | date:'HH:mm'}}</p>
          <p class="user">Reserved by: {{ reservation.reservationBy }}</p>
          <i class="ion-trash-a" ng-click="deleteReservation(reservation)"></i>
        </div>
      </div>
      <div class="room">
        <h1>Gamma</h1>
        <div class="reservations" ng-repeat="reservation in roomReservations track by $index" ng-if="reservation.room == 'gamma'">
          <p class="times">{{reservation.startTime | date: 'HH:mm'}}-{{reservation.endTime | date:'HH:mm'}}</p>
          <p class="user">Reserved by: {{ reservation.reservationBy }}</p>
          <i class="ion-trash-a" ng-click="deleteReservation(reservation, reservation.roomName)"></i>
        </div>
      </div>
    </div>
    <div class="reservation">
      <h3>Choose your reservation room and time (between 8:00 and 21:00)</h3>
      <form name="reservation">
        <select class="meetingrooms" name="meetingrooms" ng-model="roomName" required>
          <option value="alpha">Alpha</option>
          <option value="beta">Beta</option>
          <option value="gamma">Gamma</option>
        </select>
        Start at:
        <input type="time" class="input" value="startTime" ng-model="startTime" min="08:00" max="21:00" step="900" required>
        End at:
        <input type="time" class="input" value="endTime" ng-model="endTime" min="08:00" max="21:00" step="900" required>
        Username:
        <input type="text" ng-model="username" required>
        <button class="btn btn__submit" ng-click="makeReservation(roomName, startTime, endTime, username)" ng-disabled="reservation.$invalid">Add a task</button>
      </form>
    </div>
  </div>

</body>
</html>
